## subset regions of GTF file

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
gtf = pd.read_csv("/proj/RNA_lab/Genomic_Indexes/Human/Homo_sapiens.GRCh38.108.chr.gtf", skiprows=5, header=None, sep="\t")

/nas/longleaf/rhel8/apps/anaconda/2021.11.ood/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
gtf

,0,1,2,3,4,5,6,7,8
0,1,ensembl_havana,gene,1471765,1497848,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
1,1,ensembl_havana,transcript,1471765,1497848,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
2,1,ensembl_havana,exon,1471765,1472089,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
3,1,ensembl_havana,CDS,1471885,1472089,.,+,0,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
4,1,ensembl_havana,start_codon,1471885,1471887,.,+,0,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
...,...,...,...,...,...,...,...,...,...
3408725,MT,insdc,transcript,15888,15953,.,+,.,"gene_id ""ENSG00000210195""; gene_version ""2""; t..."
3408726,MT,insdc,exon,15888,15953,.,+,.,"gene_id ""ENSG00000210195""; gene_version ""2""; t..."
3408727,MT,insdc,gene,15956,16023,.,-,.,"gene_id ""ENSG00000210196""; gene_version ""2""; g..."
3408728,MT,insdc,transcript,15956,16023,.,-,.,"gene_id ""ENSG00000210196""; gene_version ""2""; t..."
3408729,MT,insdc,exon,15956,16023,.,-,.,"gene_id ""ENSG00000210196""; gene_version ""2""; t..."

In [5]:
# CCDS is the consensus of coding sequences from NCBI 
ccds = gtf[gtf[8].str.contains("CCDS")]
ccds

,0,1,2,3,4,5,6,7,8
1,1,ensembl_havana,transcript,1471765,1497848,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
2,1,ensembl_havana,exon,1471765,1472089,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
3,1,ensembl_havana,CDS,1471885,1472089,.,+,0,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
4,1,ensembl_havana,start_codon,1471885,1471887,.,+,0,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
5,1,ensembl_havana,exon,1477274,1477350,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
...,...,...,...,...,...,...,...,...,...
3408532,21,havana,stop_codon,14964716,14964718,.,-,0,"gene_id ""ENSG00000180530""; gene_version ""11""; ..."
3408533,21,havana,five_prime_utr,15064745,15065000,.,-,.,"gene_id ""ENSG00000180530""; gene_version ""11""; ..."
3408534,21,havana,five_prime_utr,15014344,15014466,.,-,.,"gene_id ""ENSG00000180530""; gene_version ""11""; ..."
3408535,21,havana,five_prime_utr,14968193,14968526,.,-,.,"gene_id ""ENSG00000180530""; gene_version ""11""; ..."
3408536,21,havana,three_prime_utr,14961235,14964715,.,-,.,"gene_id ""ENSG00000180530""; gene_version ""11""; ..."

In [6]:
cds = ccds[ccds[2] == "CDS"]
cds

,0,1,2,3,4,5,6,7,8
3,1,ensembl_havana,CDS,1471885,1472089,.,+,0,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
6,1,ensembl_havana,CDS,1477274,1477350,.,+,2,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
8,1,ensembl_havana,CDS,1478644,1478745,.,+,0,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
10,1,ensembl_havana,CDS,1479049,1479108,.,+,0,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
12,1,ensembl_havana,CDS,1480867,1480936,.,+,0,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
...,...,...,...,...,...,...,...,...,...
3408032,21,havana,CDS,46126503,46126541,.,+,2,"gene_id ""ENSG00000142173""; gene_version ""17""; ..."
3408034,21,havana,CDS,46128903,46128925,.,+,2,"gene_id ""ENSG00000142173""; gene_version ""17""; ..."
3408506,21,havana,CDS,14964719,14968192,.,-,0,"gene_id ""ENSG00000180530""; gene_version ""11""; ..."
3408518,21,ensembl_havana,CDS,14964719,14968192,.,-,0,"gene_id ""ENSG00000180530""; gene_version ""11""; ..."
3408530,21,havana,CDS,14964719,14968192,.,-,0,"gene_id ""ENSG00000180530""; gene_version ""11""; ..."

In [7]:
utr3 = ccds[ccds[2] == "three_prime_utr"]
utr3

,0,1,2,3,4,5,6,7,8
37,1,ensembl_havana,three_prime_utr,1495818,1497848,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
198,1,havana,three_prime_utr,3433812,3435421,.,+,.,"gene_id ""ENSG00000142611""; gene_version ""17""; ..."
274,1,ensembl_havana,three_prime_utr,3433812,3438621,.,+,.,"gene_id ""ENSG00000142611""; gene_version ""17""; ..."
362,1,ensembl_havana,three_prime_utr,2403964,2405765,.,-,.,"gene_id ""ENSG00000157911""; gene_version ""11""; ..."
379,1,havana,three_prime_utr,2403974,2405765,.,-,.,"gene_id ""ENSG00000157911""; gene_version ""11""; ..."
...,...,...,...,...,...,...,...,...,...
3407969,21,ensembl_havana,three_prime_utr,46132553,46132848,.,+,.,"gene_id ""ENSG00000142173""; gene_version ""17""; ..."
3408036,21,havana,three_prime_utr,46128929,46129808,.,+,.,"gene_id ""ENSG00000142173""; gene_version ""17""; ..."
3408512,21,havana,three_prime_utr,14961235,14964715,.,-,.,"gene_id ""ENSG00000180530""; gene_version ""11""; ..."
3408525,21,ensembl_havana,three_prime_utr,14961235,14964715,.,-,.,"gene_id ""ENSG00000180530""; gene_version ""11""; ..."
3408536,21,havana,three_prime_utr,14961235,14964715,.,-,.,"gene_id ""ENSG00000180530""; gene_version ""11""; ..."

In [8]:
utr5 = ccds[ccds[2] == "five_prime_utr"]
utr5

,0,1,2,3,4,5,6,7,8
36,1,ensembl_havana,five_prime_utr,1471765,1471884,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
197,1,havana,five_prime_utr,3069197,3069259,.,+,.,"gene_id ""ENSG00000142611""; gene_version ""17""; ..."
273,1,ensembl_havana,five_prime_utr,3069203,3069259,.,+,.,"gene_id ""ENSG00000142611""; gene_version ""17""; ..."
361,1,ensembl_havana,five_prime_utr,2412503,2412564,.,-,.,"gene_id ""ENSG00000157911""; gene_version ""11""; ..."
378,1,havana,five_prime_utr,2412503,2412564,.,-,.,"gene_id ""ENSG00000157911""; gene_version ""11""; ..."
...,...,...,...,...,...,...,...,...,...
3408523,21,ensembl_havana,five_prime_utr,15014344,15014466,.,-,.,"gene_id ""ENSG00000180530""; gene_version ""11""; ..."
3408524,21,ensembl_havana,five_prime_utr,14968193,14968526,.,-,.,"gene_id ""ENSG00000180530""; gene_version ""11""; ..."
3408533,21,havana,five_prime_utr,15064745,15065000,.,-,.,"gene_id ""ENSG00000180530""; gene_version ""11""; ..."
3408534,21,havana,five_prime_utr,15014344,15014466,.,-,.,"gene_id ""ENSG00000180530""; gene_version ""11""; ..."
3408535,21,havana,five_prime_utr,14968193,14968526,.,-,.,"gene_id ""ENSG00000180530""; gene_version ""11""; ..."

In [9]:
# comment out when done saving 
# cds.to_csv("/nas/longleaf/home/askav/rna/autoregulation/g4/CDS.subset.gtf")
# utr5.to_csv("/nas/longleaf/home/askav/rna/autoregulation/g4/UTR3.subset.gtf")
# utr3.to_csv("/nas/longleaf/home/askav/rna/autoregulation/g4/UTR5.subset.gtf")